* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/*-----------------header----------------------*/

#nav-bar {
    position: sticky;
    top: 0;
    z-index: 9999;
}

.navbar {
    background: rgb(131, 155, 135);
    padding: 0;
}

.navbar-nav li a {
    color: rgb(255, 255, 255) !important;
    font-weight: 400;
    text-align: center;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus 
{
    background: #d65c14;
}

.navbar-inverse .navbar-brand {
    color: #ffffff;
}

.navbar-inverse .btn-link {
    color: #ffffff;
}

.fa-bars {
    color: rgb(34, 33, 33);
}

.navbar-toggler {
    outline: none !important;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

.rounded-top {
    border-top-left-radius: .25rem!important;
    border-top-right-radius: .25rem!important;
}

img {
    vertical-align: middle;
    border-style: none;
}

/*-----------------BANNER----------------------*/

.post {
    margin-bottom: 50px;
}

#servicies {
    padding: 80px 0;
}

.service-img {
    height: 200px;
    margin-top: 20px;
}

.services {
    padding: 20px;
}

.servicies h1 {
    text-align: center;
}

.servicies h4 {
    margin-top: 40px;
}

a:link {
    color: #000000;
    text-decoration: none
}

a:visited {
    color: #000000;
    text-decoration: none
}

a:hover {
    color: #000000;
    text-decoration: none
}

/*-----------------FOOTER MEDIA----------------------*/

.footer {
    background: rgb(131, 155, 135);
    color: black;
    padding: 10px 0;
    margin-top: 50px;
}

.footer-box {
    padding: 20px;
}

.footer-box img {
    width: 120px
}

.footer-box img {
    width: 50px;
}

@media screen and (max-width: 997px) and (min-width: 300px) {
    .service-img {
        width: 200px;
        height: 200px;
    }
}

@media screen and (max-width: 998px) and (min-width: 701px) {
    .service-img {
        width: 200px;
        height: 200px;
    }
}

@media screen and (max-width: 997px) and (min-width: 300px) {
    .img-responsive {
        width: 200px;
        height: 200px;
    }
}

@media screen and (max-width: 998px) and (min-width: 701px) {
    .img-responsive {
        width: 200px;
        height: 200px;
    }
}

/*----google maps-----*/

.map-container {
    overflow: hidden;
    padding-bottom: 30%;
    position: relative;
    height: 0;
}

.map-container iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}